.main {
  position: relative;
  margin: 15.55556vh auto 0;
  width: 90.27778%;
  height: 84.44444%;

  &__image {
    object-fit: cover;
    width: 83.07692%;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: 9%;
    left: 0;
    margin-left: -4.86111vw;
    width: 35.15385%;
    height: 90%;
  }
}
