<header class="header">
  <h1 class="header__title">
    By Vinícius Benvenuti
  </h1>

  <svg version="1.1" viewBox="0 0 29 59" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="header__icon">
    <path d="M 0.4 58.17C 0.4 58.17 28.56 0.22 28.56 0.22 28.56 0.22 14.48 0.22 14.48 0.22 14.48 0.22 0.37 30.65 0.37 30.65 0.37 30.65 0.4 58.17 0.4 58.17Z" />
  </svg>

  <ul class="header__list">
    <li class="header__item">
      <button class="header__button header__button--about">About</button>
    </li>
    <li class="header__item">
      <button class="header__button header__button--work">Work</button>
    </li>
  </ul>
</header>