<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hidden">
  <symbol id="works-arrow" viewBox="0 0 53 16">
    <path d="M 53 8.35C 53 8.35 45.34 16 45.34 16 45.34 16 43.99 14.65 43.99 14.65 43.99 14.65 49.64 9.01 49.64 9.01 49.64 9.01-0.02 9.01-0.02 9.01-0.02 9.01-0.02 6.99-0.02 6.99-0.02 6.99 49.64 6.99 49.64 6.99 49.64 6.99 43.99 1.35 43.99 1.35 43.99 1.35 45.34-0 45.34-0 45.34-0 53 7.65 53 7.65 53 7.65 52.65 8 52.65 8 52.65 8 53 8.35 53 8.35Z" />
  </path>
</svg>

<section class="works">
  <ul class="works__list">
    <li class="works__item works__item--m">
      <a href="" class="works__link">
        <h1 class="works__title">
          Meekat

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="works__arrow">
            <use xlink:href="#works-arrow" />
          </svg>
        </h1>

        <img src="public/images/937c46cb687171545af55cf06d7ae1de.jpg" class="works__image">
      </a>
    </li>
    <li class="works__item works__item--twp">
      <a href="" class="works__link">
        <h1 class="works__title">
          The Washinton Post

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="works__arrow">
            <use xlink:href="#works-arrow" />
          </svg>
        </h1>

        <img src="public/images/6f3b5b0a9bfcd94acf42c41748529760.jpg" class="works__image">
      </a>
    </li>
    <li class="works__item">
    </li>
    <li class="works__item works__item--ap">
      <a href="" class="works__link">
        <h1 class="works__title">
          Arquisites Project

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="works__arrow">
            <use xlink:href="#works-arrow" />
          </svg>
        </h1>

        <img src="public/images/5606eb526dfd60dfa11592f5bafadafc.jpg" class="works__image">
      </a>
    </li>
  </ul>
</section>